.topnavbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00008B;
    border-radius: 5px;
}
.topnavbar a.active {
    background-color: #6495ED;
    color: white;
}

li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #1434A4
}

body{

}

#display_image{
    width: 800px;
    height: 450px;
    border: 1px solid black;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}