
.main-view{
    text-decoration-color: white;
    font-size:1rem;
}

vaadin-button {
    width: 150px;
    height: 50px;
}

.main-view h1{
    font-size:5rem;
    margin:auto;
}

.main-view h2{
    font-size:2.5rem;
    padding: 25px;
    border: 10px solid black;
}


.input-field {
    width:70%;
    height:200px;
}

.key-input{
}

.key-field{
    background-color:#c5c6c7;
}

